body {
  background-image: url("http://i982.photobucket.com/albums/ae307/FantasyWolf24/Background/Nature/Background94.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  margin-top: .5em;
  color: #fff;
  font-family: 'Alegreya Sans SC', sans-serif;  font-size: 4em;
  text-shadow: 3px 3px #5C5C5C, 4px 4px #5C5C5C, 5px 5px #5C5C5C, 6px 6px #5C5C5C, 7px 7px #5C5C5C;
}
h3{
  color:white;
  display:inline-block;
  width: 15%;
  text-align: center;
  cursor: pointer;
}
h3:hover{
  border-bottom: 2px solid inherit;
}

/************   Gameboard  **************/

#gameboard {
  width: 70%;
  border-radius: 5px;
  margin: 2em auto;
  padding: 1em;
  background-color: rgba(155, 175, 155, .8);
  box-shadow:  0 0 10px #4D392E;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
}
.pieceContainer{
  z-index: 99;
  position: relative;
  display: inline-block;
  width: 15%;
  margin: 1em 0 1em 4%;
  height: 5em;
  cursor: pointer;
  box-shadow: 0 0 10px #4D392E;
  transition:-webkit-transform .5s ease-in-out;
  transition:-moz-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  -webkit-perspective-origin: 50% 0%; /*center top, default value - how it will rotate*/
  -moz-perspective-origin: 50% 0%;
  perspective-origin: 50% 0%;
  -webkit-transform-style: preserve-3d; /*passing along its 3d perspective to its children*/
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.pieceContainer:hover{
    box-shadow: 0 0 10px #014C35;
}
.pieceContainer div {
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 3em;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.pieceFront {
  z-index: 100;
  background-image: url("../images/Question_Mark.svg.png");
}

h2 {
  text-align: center;
  margin: 0;
  color: #545454;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 6em;
  text-shadow: 3px 3px #4D392E, 4px 4px #4D392E,5px 5px #4D392E,6px 6px #4D392E, 7px 7px #4D392E, 8px 8px #4D392E, 9px 9px #4D392E;
  transform:skewX(10deg);
}

/************   TRANSFORMS   **************/
.flip{
   -webkit-transform: rotateX( 180deg );  /* Flips the containerPiece */
   -moz-transform: rotateX( 180deg );
   transform: rotateX( 180deg );
}
.stayFlipped{
   -webkit-transform: rotateX( 180deg ); /* Flips the containerPiece */
   -moz-transform: rotateX( 180deg );
   transform: rotateX( 180deg );

}
.pieceBack{
  -webkit-transform: rotateX( -180deg );  /* Upends backPiece, so when flips back over, its rightside up */
  -moz-transform: rotateX( -180deg );
  transform: rotateX( -180deg );
}
.winner{
  -webkit-transform: translateZ( 1000px ); /* Throws the cards at you */
  -moz-transform: translateZ( 1000px );
  transform: translateZ( 1000px );
}

/************   RESET   **************/

button {
  padding: .3em 1em;
  border-radius: 10%;
  display: block;
  margin: 0 auto;
  color: #fff;
}

/************   SKINS   **************/

 .skins{
  width: 70%;
  margin: 0 auto;
}
.skins h3:first-of-type{
  margin-left: 18%;
}
.beach{
  background:url("http://i96.photobucket.com/albums/l173/Dancingwithoutmusic/Photography/IMG_0511.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#gameboard.beach{
  background: rgba(149, 169, 189,.3);
}
.beach .pieceContainer:hover{
    box-shadow: 0 0 10px #708DC6;
}
.mountains{
  background:url("http://i65.photobucket.com/albums/h235/Ignwar/Album%20Mountains/Cloud-FilledKachemakBayBelowtheKena.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#gameboard.mountains{
  background: rgba(149, 169, 189,.5);
}
.mountains .pieceContainer:hover{
    box-shadow: 0 0 10px #fff;
}
